<% provide(:title, @entry.title) %>
<div class="container">
  <h1>
    <%= @entry.title %> 
  </h1>

  <h2>
    <%= @entry.user.name %>
  </h2>

  <div class="text-primary">
    <strong>Content:</strong>
    <%= @entry.body %>
  </div>

  <%= render 'shared/comment_form' %>

  <ul class="list-group-item">
    <% if @comments.count > 0 %>
        <strong>Comments:</strong>
        <ol>
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
    <% else %>
        <p>No comment yet!</p>
    <% end %>
  </ul>
</div>